<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <form method="post" action="/vacancy/new">
                {% csrf_token %}
                <label for="id_desc_vacancy">Vacancy description</label><br>
                <input name="description" id="id_desc_vacancy">
                <input type="submit" value="Save">
            </form>
        {% else %}
            <form method="post" action="/resume/new">
                {% csrf_token %}
                <label for="id_desc_resume">Resume text</label><br>
                <input name="description" id="id_desc_resume">
                <input type="submit" value="Save">
            </form>
        {% endif %}
    {% else %}
        <p>You must log in in order to create new entries.</p>
    {% endif %}
</body>
</html>